body {
    font-family: 'Oswald', Helvetica, sans-serif;
    font-weight: 300 ;
}

h1 {
    font-weight: 700 ;
    text-transform: uppercase;
    margin-top: 30px ;
    margin-left: 30px ;
    letter-spacing: 1px ;
}

h3 {
    font-weight: 400 ;
}
h4 {
    margin-top: 35px ;
}

/* first h4 should not have space above it */
h4:first-child{
    margin-top: 0px ;
}

h4 a {
    -webkit-transition-property: color ;
    -webkit-transition-duration: .3s ;
    -webkit-transition-timing-function: ease ;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease ;
    color: #000 ;
}

h4 a:link, h4 a:visited {
    text-decoration: none;
    color: #000 ;
}

h4 a:hover {
    text-decoration: none;
    /*color: #dd0000 ;*/
}

#demos {
    margin-left: 30px ;
    width: 20% ;
    height: 800px ;
    float: left ;
    overflow: scroll;
}

#demos p {
    color: #777;
}

#demos p a {
    -webkit-transition-property: color ;
    -webkit-transition-duration: .3s ;
    -webkit-transition-timing-function: ease ;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease ;
    color: #777;
}

#demos p a:link, #demos p a:visited {
    text-decoration: none;
    color: #777;
}

#demos p a:hover {
    text-decoration: none;
    color: #000000;
}

/* turn the 'h4' and 'a' elements red */
#demos .demo_selected h4 a, #demos .demo_selected p a {
    color: #dd0000;
}

/*
STEPS
*/

#steps {
    width: 20% ;
    height: 800px ;
    float: left ;
    overflow: scroll;
    padding-right: 15px ;
    /*background-color: red ;*/
    /*opacity: 0.2 ;*/
}

#steps ol {
    line-height: 1.8em ;
}
#steps ol li {
    margin-bottom: 10px ;
    color: orange ;
    font-size: 1.2em ;
}

#steps ol li a {
    -webkit-transition-property: color ;
    -webkit-transition-duration: .3s ;
    -webkit-transition-timing-function: ease ;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease ;
    text-decoration: none;
}

#steps ol li a:link {
    color: #777;
}

#steps ol li a:hover {
    color: #000000;
}

/* turn the selected li item orange */
#steps li.step_selected a, #steps li.step_selected a:link {
    color: orange;
}

#source_code {
    float: left;
    width: 54% ;
    height: 800px ;
    /*background-color: blue ;*/
    /*opacity: 0.2 ;*/
    overflow: scroll;
    /*padding-top: 20px ;*/
}

#spacer {
    clear: both ;
    height: 30px ;
}

#preview {
    clear: both ;
    width: 96% ;
    height: 800px ;
    background-color: green ;
    opacity: 0.2 ;
    margin-left: 30px ;
}

footer {
    border-top: 1px dotted #cccccc ;
    margin-top: 10px ;
    margin-left: 30px ;
    margin-right: 30px ;
    padding-top: 15px ;
    clear: both ;
}