
#main {
	width: 800px ;
	font: {
		size: 12px ;
		color: #333333 ;
		family: Helvetica, "Open Sans", Sentinel ; 
	}
}

//////////////////////////// THE ABOVE COMPILES TO /////////////////////////////
/*
#main {
  width: 800px;
  font-size: 12px;
  font-color: #333333;
  font-family: Helvetica, "Open Sans", Sentinel; }
*/